
.MainBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100vh;

}


body, p, li {
  font-family: 'Inter', sans-serif;
}
h1, h2, .shopmart-logo {
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 175vh;
}

.Home,.About{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  height: 77vh;

  background: linear-gradient(to right, #f9fafb, #e0f7fa);
}


.des{
font-size: 20px;
}

.HeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FooterContainer{
  margin-top: auto;
 }

.Brand,.ProductTitle{
  padding-left: 20px;
}


.TabItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-right: 25px;
}

.CartIcon{
  cursor: pointer;
}

.Card{
  padding: 15px;
}

.CartBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
}
.ProceedButton{
  align-self: center;

}
.ProceedButton>*{
  width: 250px;
  height: 50px;
}

.delIcon{
  cursor: pointer;
}

.EmptyCart{
  display: flex;
  font-size: 40px;
  font-style: italic;

  justify-content: center;
}

